<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{productName}}</title>
    <link rel="stylesheet" href="/css/main.css">
     <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <h1>{{productName}}</h1>
    {{#if productImages.length}}
        {{#each productImages}}
            <img src="{{this}}" alt="Product Image">
        {{/each}}
    {{else}}
        <p>No images available</p>
    {{/if}}
    <table>
        <tr>
            <th>Id</th>
            <td>{{productId}}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{productPrice}}</td>
        </tr>
    </table>
    <h2><a href="addcart?id={{productId}}&name={{productName}}&price={{productPrice}}">Add to cart</a></h2>
    <h2><a href="listprod">Continue Shopping</a></h2>
    
    <h2>Leave a Review</h2>
    <div class="container mt-3">
    <form id="reviewForm" class = "text-center">
        <label for="review">Leave a Review:</label>
        <textarea id="review" name="review" rows="4" cols="50"></textarea>
        <label for="rating">Rating:</label>
        <select id="rating" name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <button type="button" onclick="submitReview()">Submit Review</button>
    </form>
    </div>
    
     <script>
        function submitReview() {
               console.log('Button clicked');
            // Get review data from the form
            var reviewText = $('#review').val();
            var rating = $('#rating').val();
            var productId = '{{productId}}';

            window.location = `/reviews?id=` + productId + `rating=` + rating +`reviewComment=` + reviewText;
            

        }
    </script>
</body>
</html>

