<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{productName}}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>
<body>
    <div class="card mt-3" style="max-width: 800px; margin: auto;">
        <div class="card-body">
             {{#if productImages.length}}
        {{#each productImages}}
            <img src="{{this}}" alt="Product Image" width="300">
        {{/each}}
         {{else}}
        <p>No images available</p>
        {{/if}}
            <p class="card-text" align="left">ID: {{productId}}</p>
            <p class="card-text">Price: {{productPrice}}</p>
            <h5 class="card-title">{{productName}}</h5>
            <p class="card-text">{{description}}</p>
            <div class="d-grid gap-2 col-6 mx-auto">
                <a class="btn btn-primary" type="button" href="addcart?id={{productId}}&name={{productName}}&price={{productPrice}}">Add to cart</a>
                <a href="/listprod" class="btn btn-primary" role="button" >Continue Shopping</a>
            </div>
        </div>
        </div>
    <div>   



    <div class="container">
    <h2>Leave a Review</h2>
    <form id="reviewForm" class ="text-center">
        <textarea id="review" name="review" rows="4" cols="50"></textarea>
        <div>
        <label for="rating">Rating out of Five</label>
        <select id="rating" name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        
        <button type="button" onclick="submitReview()">Submit Review</button>
    </form>
    <div>

    

        <div class="container">
            <p >"I exist in here"+{{reviews}}</p>
        {{#if reviews.length}}
        <p >"I exist in here"</p>
        {{#each reviews}}
            <div class="review">
                
                <div class="rating">RATING {{this.reviewRating}}</div>
                <div class="comment">{{this.reviewComment}}</div>
                <div class="comment">{{this.reviewDate}}</div>
                <div class="user-info">ANON {{this.reviewId}}</div>
            </div>
        {{/each}}
        {{/if}}
    </div>
                
    
     <script>
        function submitReview() {
               console.log('Button clicked');
               alert("Thank you for submitting a review with us");
            // Get review data from the form
            var reviewText = $('#review').val();
            var rating = $('#rating').val();

            window.location = `/reviews?id=` + {{productId}}+ `&rating=` + rating +`&reviewComment=` + reviewText;
    
        }
    </script>
</body>
</html>

